#forma{
    display: block;
    margin: 0px auto;
    width: 500px;
}
.form-control {
    display: block;
    padding: 2px 2px;
    width: 100%;
    float: left;
}
.form-control label,
.form-control input {
    display: block;
    float: left;
}
.form-control label {
    padding: 5px;
    width: 30%;
}
.form-control input {
    width: 70%;
}
.form-button input{
    display: block;
    margin: 0 auto;
    width: 100%;
    float: left;
}
.myH {
    display: block;
    width: 100%;
    text-align: center;
}