/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 30px;
	background: green;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	height: 100%;
	float: right;
	background: red;
	position: relative;
	overflow: auto;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
}
.content {
	width: 80%;
	float: right;
	overflow: auto;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 20%;
	height: 100%;
	margin-left: -100%;
	position: relative;
	background: blue;
}